name: Weekly TOW Call to Arms

on:
  schedule:
    - cron: '0 12 * * 0'
  workflow_dispatch:
jobs:
  call_to_arms:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Call to Arms script
        env:
          DISCORD_CALL_TO_ARMS_WEBHOOK_URL: ${{ secrets.DISCORD_CALL_TO_ARMS_WEBHOOK_URL }}
        run: |
          python run_call_to_arms.py
